<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click) ="logEvent('event_1')"> Event 1</ion-button>
  <ion-button (click) ="logEvent('event_2')"> Event 2</ion-button>
  <ion-button (click) ="logEvent('event_3')"> Event 3</ion-button>
  <ion-button (click) ="logEvent('event_4')"> Event 4</ion-button>
  <ion-button (click) ="logEvent('event_5')"> Event 5</ion-button>
</ion-content>
